a:link, a:visited {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.align-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(30, 30, 30);
  margin-bottom: 15px;
  display: flex;
}

.card:hover {
  box-shadow: 0px 3px 11px 6px rgba(200, 152, 44, 0.4);
  transform: translateY(-3px);
}

.details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-size: 11px;
}

.thumbnail {
  width: 100px;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px 0 0 5px;
}

.search {
  background-color: rgb(50, 60, 70);
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.search-box {
  padding: 7px 24px 7px 7px;
  border-radius: 7px;
  width: 80%;
}

.search-results {
  width: 90%;
}

::placeholder {
  color: rgb(245, 245, 245);
}

input {
  background: url("./icons/search.png") right no-repeat;
  color: rgb(245, 245, 245);
  opacity: 0.6;
  border-style: solid;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input:hover, input:focus {
  border-color: rgb(245, 245, 245);
}

.menus {
  display: none;
  background-color: rgb(21, 21, 21);
  width: 40%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.icon-text-container {
 width: 90%;
 margin-bottom: 15px;
}

.icon-text {
  width: 104px;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.icon-text p {
  margin: 0 0 0 5px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}

.overlay {
  display: none;
  background-color: rgba(0,0,0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.price-info {
  display: flex;
  align-items: center;
}

.prices {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55px;
}

.prices p {
  margin: 0;
}

.discount {
  background-color: rgb(50, 60, 70);
  width: 40px;
  height: 24px;
}

.menu {
  margin: 10px;
}

.menu h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding:0;
  margin: 10px 5px 0px 5px;
}

li, .menu h5 {
  opacity: 0.6;
}

li:hover, .menu h5:hover, .icon-text:hover {
  cursor: pointer;
  opacity: 1;
}

li:hover {
background-color: rgb(30, 30, 30);
}

.selected  {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unselectable:hover {
  cursor: default;
}

.current-page {
  background-color: rgb(50 50 50);
  opacity: 1;
}

.current-page:hover {
  cursor: default;
  background-color: rgb(50 50 50);
}

.page-item:hover {
  background-color: rgb(40 40 40);
}

.current-page, .page-item  {
  float: left;
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 500px) {
  .details {
    font-size: 14px;
  }

  .menus {
    width: 200px;
  }

  .search-box {
    width: 300px;
  }

  .thumbnail {
    width: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .icon-text-container {
    display: none;
  }
  
  .menus {
    display: inline;
    position: static;
    width: 18%;
    height: unset;
  }
  
  .search-results {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .menus {
    width: 180px;
  }
  
  .search-results {
    width: 720px;
  }
}
